<?xml version="1.0" encoding="UTF-8"?>

<web-app>      
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>server.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
</web-app>